/* aplicando cambios al nav desde 768 hasta 576 */

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    display: flexbox;
    flex-direction: column;
    margin: auto;
  }
  #list {
    transition: 1s;
    display: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

  .nav {
    width: 100%;
    min-height: 50px;
    background:none;
    box-shadow:none;
    flex-direction: column;
    position: fixed;
    
}
  .nav .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(9, 107, 153, 0.267);
    height: auto;
    
  }
  
  nav li {
    display: flex;
    height: 50px;
    margin: auto;
    width: 100%;
    justify-content: center;
    
  }
  #btn-peque {
    display: flex;
    font-size: 2em;
    margin-left: 24px;
    align-items:center;
    top:2px;
    z-index: 100;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
  li .fa-caret-up {
    display: block;
  }
  
  .nav .list .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: center;
    
  }
}
