/* aplicando cambios al nav desde 768 hasta 576 */

@media only screen and (max-width: 868px) {
  .container {
    width: 100%;
    display: flexbox;
    flex-direction: column;
    margin: auto;
  }
  #list {
    transition: 1s;
    display: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }

  .nav {
    width: 100%;
    min-height: 50px;
    background: none;
    box-shadow: none;
    flex-direction: column;
    position: fixed;
    
  }

  .nav .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(2, 38, 105, 0.719);
    height: auto;
    
  }

  nav li {
    display: flex;
    height: 50px;
    margin: auto;
    width: 100%;
    justify-content: center;
  }
  #btn-peque {
    display: flex;
    font-size: 2em;
    margin-left: 24px;
    align-items: center;
    padding-top: 8px;
    z-index: 200;
    transition: 1s;
    color:var(--azulOscuro);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
  
  li .fa-caret-up {
    display: block;
  }
  .nav li a {
    color: white;
    font-weight: bold;
  }

  .nav .list .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  #imgl {
    position: absolute;
    right: 22px;
    top: 2px;
    opacity: 0.5;
  }

  /* ahora otra seccion ----HEADER----  */
  .header {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .title h1 {
    text-transform: capitalize;
    font-size: 2.4em;
    font-weight: 600;
  }
  .title {
    min-height: auto;
    width: 90%;
    margin-top: 60px;
  }
  .logotitle {
    width: 30%;
    display: flex;
    min-height: auto;
  }
  .perfil {
    width: 140px;
    margin-top: 20px;
  }
  /* ahora la seccion de -----acerca de mi---- */
  .centrArt {
    width: 94%;
    margin: auto;
    min-height: auto;
    padding: 2em 0em;
  }
  .centrArt p {
    font-size: 18px;
  }
  .certificados {
    padding-top: 1em;
  }
  .certificados-iconos ul {
    width: 90%;
  }
  .certificados ul p {
    line-height: 130%;
  }
  /* acomodando el formulario */
  .contactame {
    width: 90%;
  }
  .form input[type="text"] {
    width: 80%;
  }
  .form textarea {
    width: 80%;
  }
  .form-btn {
    width: 50%;
  }

  /* FOOTER */

  .footer {
    padding: 2em 0em;
    height: auto;
    width: 90%;
    display: block;
    flex-direction: column;
  }
  .idea {
    margin-top: 2em;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    font-family: "Comforter Brush", cursive;
  }
  .info-footer-image {
    text-align: center;
  }
  .datos-footer {
    text-align: center;
  }
}
