/* estilos del footer */

footer {
  display: flex;
  flex-direction: column;
}
.footer {
  height: 150px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer .info-footer {
  display: flex;
  flex-direction: column;
}
.info-footer .con-foo {
  height: 20px;
}
.info-footer .infoo {
  width: auto;
}
.info-footer a {
  text-decoration: none;
  color: black;
}

#name-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.idea {
  font-size: 2em;
  font-weight: 100;
  opacity: 0.8;
  font-family: "Comforter Brush", cursive;
}
.info-footer .enlaces {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.int-footer {
  text-align: right;
}
.footer .gmail a:hover {
  color: rgba(0, 20, 73, 0.973);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.whatsapp a:hover {
  color: rgb(0, 48, 0);
  transition: 0.5s;
}
#redes {
  height: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
#intfoo {
  display: flex;
  width: 50%;
  justify-content: center;
}

.github a:hover {
  color: rgb(83, 0, 83);
  transition: 0.5s;
}
.linkedin a:hover {
  color: rgb(10, 102, 194);
  transition: 0.5s;
}
.facebook a:hover {
  color: rgb(24, 119, 242);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.descarga a:hover {
  color: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background: white;
}
.datos-footer {
  background-image: url(https://img.freepik.com/foto-gratis/fondo-luces-degradadas_23-2149305014.jpg?w=360&t=st=1669566518~exp=1669567118~hmac=23989595bfb39624289ff317c172784ef32312b3b57de3b316d6a35398c20249);
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding-top: 2px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
}
