/* estilos del footer */

footer {
  display: flex;
  flex-direction: column;
}
.footer {
  height: 150px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer .info-footer {
  display: flex;
  flex-direction: column;
}
.info-footer h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4em;
}
.fa-whatsapp, .fa-envelope {
  margin: auto;
  color:var(--negro);
  width: 30px ;
  font-size: 18px;
}
.info-footer .con-foo {
  height: 20px;
}
.info-footer .infoo {
  width: auto;
}
.info-footer a {
  text-decoration: none;
  color: black;
}

#name-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.idea {
  font-size: 2em;
  font-weight: 100;
  opacity: 0.8;
  font-family: "Comforter Brush", cursive;
}
.info-footer .enlaces {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.int-footer {
  text-align: right;
}
.footer .gmail a:hover {
  color: rgba(0, 20, 73, 0.973);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.whatsapp a:hover {
  color: rgb(0, 48, 0);
  transition: 0.5s;
}
#redes {
  height: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
#intfoo {
  display: flex;
  width: 50%;
  justify-content: center;
}

.github a:hover {
  color: rgb(83, 0, 83);
  transition: 0.5s;
}
.linkedin a:hover {
  color: rgb(10, 102, 194);
  transition: 0.5s;
}

.descarga a:hover {
  color: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background: white;
}
.datos-footer {
  background-color: var(--azulOscuro);
  text-align: center;
  padding-top: 2px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
  color:var(--blanco);
  font-size:1.2em;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0521ac;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.notification.show {
  opacity: 1;
}

.notification.hidden {
  display: none;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

button {
  background-color: #ffffff;
  color: #092b0a;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f1f1f1;
}
