.contactame {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 2em 0em;
    background-image: url(../images/bkg3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.cont-contact {
    width: 80%;
    /* border: solid 1px; */
}
.int-form {
    display: flex;
    flex-direction: column;
}
.form h2 {
    margin: 1em 0em;
}
.form label {
    font-weight: 500;
	margin-bottom: 4px;
}
.form input[type="text"] {
    position: relative;
    margin-left: 40px;
    border:none;
    border-radius: 8px;
    padding: 6px;
    margin-bottom: 12px;
    width: 50%;
    box-shadow: 2px 2px 5px #999;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.form textarea {
    margin-left: 40px;
    width: 50%  ;
    min-height: 6em;
    box-shadow: 2px 2px 5px #999;
}
.form-btn {
    background-color: #073e5c;
    width: 20%;
    margin: 2em 50%;
    color:white;
    padding: 2px;
    font-size: 1.1em;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    border:none;
    box-shadow: 2px 2px 5px rgb(34, 33, 33);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.form-btn:hover {
    transition: 0.5s;
    background: #b7c2bc;
    color:var(--negro);
    cursor: pointer ;
    content: '\F01BD';
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
textarea{
    padding: 4px;
}
.notiNull {
    border:solid 1px;
    width: 25%;
    height: auto;
    z-index: 100;
    position: absolute;
    top:40%;
    right: 10%;
    left: 50%;
    bottom:30%;
}
.notiNull p {
    font-size: 1.2em;
}