.contac-form {
    z-index: 300;
    border:solid 1px;
    margin: auto;
    position:fixed;
    top: 10%;
    left: 20%;
    right:20%;
    display: none;
}
.int-form {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--azulClaromas);
}