.header {
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image:
    url(https://img.freepik.com/free-vector/paper-style-white-monochrome-background_52683-66443.jpg?w=740&t=st=1669866814~exp=1669867414~hmac=2bd460d8fce34e90c130a013cacb1306dfcd2d2cfd1573e7a6c597c6ae2b101b) ;
    background:rotate(90);
    background-repeat: no-repeat;
   

}

.title {
  font-family: "Source Sans Pro", sans-serif;
  min-height: 480px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  
}

.title h1 {
  text-transform: capitalize;
  font-size: 3.4em;
  font-weight: 600;
}
.title-principal h3 {
    font-size: 2em;
  background: rgb(126, 82, 82);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(37, 75, 221, 1) 4%,
    rgba(74, 116, 12, 0.8267682072829132) 49%,
    rgba(247, 84, 49, 0.9136029411764706) 96%,
    rgba(251, 251, 251, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}
.title-principal h2 {
    letter-spacing: 3px;
    font-size: 2em;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
}

.logotitle {
  width: 30%;
  display: flex;
  min-height: 480px;
  align-items: center;
  justify-content: space-evenly;
}


.perfil {
  width: 250px;
  
  border-radius: 45%;
  -webkit-border-radius: 45%;
  -moz-border-radius: 45%;
  -ms-border-radius: 45%;
  -o-border-radius: 45%;
  
}
