    /* aplicando cambios al nav desde 768 hasta 576 */
    
@media only screen and (max-width: 768px) {
    .header {
        display: flex;
        height: 100%;
    }

    .header .logotitle {
        display: none;
    }

    .title {
        min-width: 100%;
        margin-bottom: 24px;
    }

    .title p {
        font-size: 1.3em;
        width: 80%;
    }

    .title .inactive {
        display: flex;
        width: 150px;
    }

    .title .inactive img {
        width: 180px;
    }
    .centrArt {
        width: 90%;
        margin: auto;
        padding: 0px 4px;
    }
    .centrArt p {
        text-align: justify;
        font-size: 1.2em;
        line-height: 130%;
    }
    .footer {
        height: 200px;
        width: 90%;
        background: rgb(158, 158, 155);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #about {
        margin-top: 12px;
    }
    .footer {
        width:98%;
        height: 100%;
        justify-content:space-between;
    }
    .footer .info-footer{
        width: 28%;
        margin-left: 0px;
        padding: 4px 4px;
    }
    #redes {
        flex-direction: row;
        width: 30%;
        flex-wrap: nowrap;
        height:auto;
    }
    #name-footer{
        width: 20%;
        display: flex;
        flex-direction: column;
    }
    #name-footer p {
        text-align:center;
    }
}