/* estilos al nav */
.li-ocul {
    display: none;
  }
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  min-height: 48px;
  width: 100%;
  background-color: rgba(12,57,140,0.95);
  z-index: 999;
  position: sticky;
  top: 0;
  padding: 4px 10px;
  align-items: center;
}

.nav .list {
  display: block;
  align-self: center;
  min-width: 70%;
  color:var(--blanco);
  
}
.nav .list .nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-self: center;
}
.logo-nav {
  display: block;
  justify-content: flex-end;
}
nav li {
  display: flex;
  height: 44px;
  margin: auto 4px;
  padding: 0 6px;
  justify-content: center;
}
nav li a:hover {
  /* font-size: 1.8em; */
  border-bottom: solid 2px;
  cursor: pointer ;
  transform:translateY(-2px);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  color: var(--amarillo);
  position: relative;
  letter-spacing: 0.5px;
  
  -webkit-transform:translateY(-2px);
  -moz-transform:translateY(-2px);
  -ms-transform:translateY(-2px);
  -o-transform:translateY(-2px);
  -webkit-transform:translateY(-2px);
}

.nav li a {
  text-decoration: none;
  color:var(--blanco);
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  margin: auto;
  padding: 6px 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.nav li a:focus{
  outline: 2px dashed var(--amarillo);
  outline-offset: 4px;
}
.nav .name {
  align-self: center;
  color: rgb(12, 12, 12);
  margin-right: 20px;
  display: flex;
}

/* responsive */
#btn-peque {
  display: none;
}
li .fa-caret-up {
  display: none;
}
#imgl {
  position: relative;
  top: 0;
  right: 0;
}