:root {
  --blanco: #ffffff;
  --negro: #000000;
  --azulOscuro: #0c398c;
  --azulClaro: #4586ff;
  --azulClaromas: #2564d9;
  --dorado: #8c6000;
  --amarillo: #d9a025;
}
.container-proyecto {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* The above code is creating a calculator with HTML, CSS and JavaScript. */
section .cont-projtc {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  margin: auto;
  justify-content: center;
}
.sec-cal {
  transition: all 1s;
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height:220px;
}
.sec-cal .container-calc {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  background: var(--azulOscuro);
}
.title-calculadora {
  color:var(--blanco);
  padding-top: 12px;
}
.for-calc {
  width: 60%;
}
.for-calc .operando-a,
.operando-b {
  color: var(--blanco);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.for-calc input {
  padding: 2px 4px;
  margin-top: 4px;
  border-radius: 4px;
  border: none;
  height: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.reset-calc {
  cursor: pointer;
  width: 30%;
  padding: 2px 0px;
  font-weight: 600;
  margin: 12px auto auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.reset-calc:hover {
  color: red;
}
.btns-finciones {
  padding: 1em;
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btns-finciones .btn {
  width: 24%;
  cursor: pointer;
}
.btns-finciones .btn:hover {
  font-weight: 600;
  background-color: var(--amarillo);
  color: var(--azulOscuro);
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#resultado {
  margin: auto;
  padding: 4px;
  text-align: justify;
  color: var(--blanco);
}
.descri-project {
  padding: 1em;
  margin: auto;
  width: 100%;
}
.descri-project h3 {
  font-size: 1.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: capitalize;
}
.descri-project p {
  font-family:'Source Sans Pro', sans-serif; 
  font-size: 20px;
  text-align: justify;
}
/* 
font-family: 'Comforter Brush', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif;                       
font-family: 'Nerko One', cursive;
font-family: 'Nova Mono', monospace;
font-family: 'Source Sans Pro', sans-serif;   TEXT TEXTO   
*/

/* paleta de colores */
/* Creating a container for the palette. */
.sec-palett {
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height:220px;
}
.container-palett {
  height: 100%;
  font-size: 1.3em;
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000,
    1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  color: var(--blanco);
}
.container-palett h2 {
  text-transform: capitalize;
  padding: 0.5em 0em;
}
.salida {
  text-align: center;
}
.color-div {
  margin: 4px 0;
}
/* Creating a container for the counter. */

.cont-contador-p{
 width: 90%;
 display: flex;
 flex-direction: row;
}
.cont-contador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: rgba(25, 151, 224, 0.897);
  min-height:220px;
  
}

.cont-title {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.contador-int h2 {
  font-size: 3em;
  margin: auto;
  color: rgb(5, 30, 145);
}

.cont-btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.btn-success {
  display: flex;
  border: none;
  align-items: center;
  border-radius: 6px;
  background: rgb(98, 231, 9);
  box-shadow: 0px 10px 10px black;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  padding: 8px;
}
.reset button {
  display: flex;
  margin: auto;
  background: rgb(197, 73, 42);
  border-radius: 6px;
  border: none;
  box-shadow: 0px 10px 10px rgb(167, 167, 167);
  cursor: pointer;
  padding: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* lista de tareas */
.cont-lista-p{
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height:220px;
}
/* int-cont list-tareas */
.list-tareas {
 width: 100%;
  background: rgb(56, 116, 247);
}

.title {
  font-size: 1.6em;
  color: rgb(224, 202, 2);
  text-align: center;
}
.cont-lista li {
  list-style: square;
}
.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.form h5 {
  font-size: 1.3em;
  text-transform: capitalize;
  color: white;
}
.inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: space-around;
}

.inputs input {
  padding: 4px 4px;
  width: 40%;
  height: 16px;
  
}
.inputs textarea {
  width: 50%;
  padding: 4px 4px;
  min-height: 80px;
}
.form form {
  display: flex;
  height: auto;
}
.btn-list {
  padding: 1em 0em;
}
.elemento {
  width: 90%;
  margin: auto;
}
.elemento li {
  width: 100%;
  margin-bottom: 6px;
  color: black;
  display: flex;
  flex-direction: row;
}
.elemento ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.descrptn {
  width: 250px;
  padding: 0em 1em;
}
.icon {
  display: flex;
  width: 60px;
  color: black;
}

.nombre {
  width: 80px;
}

/* reloj */
.cont-reloj-p {
  
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height:220px;
}
.cont-reloj {
  border-radius:80%;
  width: 100%;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  -webkit-border-radius:80%;
  -moz-border-radius:80%;
  -ms-border-radius:80%;
  -o-border-radius:80%;
}
.cont-reloj h2 {
  text-shadow: 1px 0 0 rgb(255, 255, 255), -1px 0 0 rgb(255, 255, 255),
    0 1px 0 rgb(255, 255, 255), 0 -1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255);
  color: var(--negro);
  letter-spacing: 2px;
  font-size: 2em;
  position: relative;
  text-align: center;
  display: none;
}

.reloj-contenedor {
  text-align: center;
  font-size: 2.2em;
  padding: 1em 0em;
  line-height: 1.5em;
  text-transform: capitalize;
  font-family: 'Kameron', serif;
}



/* footer */


/* estilos del footer */

footer {
  display: flex;
  flex-direction: column;
}
.footer {
  height: 150px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer .info-footer {
  display: flex;
  flex-direction: column;
}
.info-footer h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4em;
}
.fa-whatsapp, .fa-envelope {
  margin: auto;
  color:var(--negro);
  width: 30px ;
  font-size: 18px;
}
.info-footer .con-foo {
  height: 20px;
}
.info-footer .infoo {
  width: auto;
}
.info-footer a {
  text-decoration: none;
  color: black;
}

#name-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.idea {
  font-size: 2em;
  font-weight: 100;
  opacity: 0.8;
  font-family: "Comforter Brush", cursive;
}
.info-footer .enlaces {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.int-footer {
  text-align: right;
}
.footer .gmail a:hover {
  color: rgba(0, 20, 73, 0.973);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.whatsapp a:hover {
  color: rgb(0, 48, 0);
  transition: 0.5s;
}
#redes {
  height: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
#intfoo {
  display: flex;
  width: 50%;
  justify-content: center;
}

.github a:hover {
  color: rgb(83, 0, 83);
  transition: 0.5s;
}
.linkedin a:hover {
  color: rgb(10, 102, 194);
  transition: 0.5s;
}

.descarga a:hover {
  color: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background: white;
}
.datos-footer {
  background-color: var(--azulOscuro);
  text-align: center;
  padding-top: 2px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
  color:var(--blanco);
  font-size:1.2em;
}
.article-mas {
  padding: 1em;
  margin: auto;
  width: 90%;
}
.article-mas p{
  font-family:'Source Sans Pro', sans-serif; 
  font-size: 20px;
  text-align: justify;
}