/* estilos al nav */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    min-height: 40px;
    width: 100%;
    border-bottom:solid 1px ;
    background-color: var(--azulOscuro);
    margin-bottom: 24px;
}
  
  .nav .list {
    display: block;
    align-self: center;
    min-width: 50%;
  }
  .nav .list .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-self: center;
  }
  .logo-nav {
    display: none;
    justify-content: flex-end;
  }
  nav li {
    display: flex;
    height: 60px;
    margin: auto;
    width: 100%;
    justify-content: center;
  }
  nav li a:hover {
    border-bottom: solid 3px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--amarillo);
    position: relative;
    transform:translateY(-2px);    letter-spacing: 0.7px;
  }
  
  .nav li a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.4em;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    margin: auto;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav .name {
    align-self: center;
    color: rgb(12, 12, 12);
    margin-right: 20px;
    display: flex;
  }
  
  /* responsive */
  #btn-peque {
    display: none;
  }
  li .fa-caret-up {
    display: none;
  }
  #imgl {
    position: fixed;
    top: 2px;
    right: 8px;
  }