.sec-project{
    width:30%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.container-project {
    width: 90%;
    display: flexbox;
    flex-direction: column;
    background: rgb(243, 241, 241);
    margin: auto;
}




/* .nav .list {
    display: block;
    align-self: center;
    width: 20%;
    height: 100%;
    
} */
.nav a{
    height: 100%;
}
/* .nav .list .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-self: center; 
    margin-bottom: 0px;
} */
.logo-nav{
    display: none;
    justify-content: flex-end;
}
li{
    display: flex;
    height: 100%;
    margin: auto;
    width: 100%;
    justify-content: center;  
}


h2 {
    text-align: center;
}
.salida {
    
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    width: 60%;
    height: 7rem;
    margin: 1.5rem auto;
    border: 1px solid #000;
}
.color-div{
    text-align: center;
}
