@media only screen and (max-width: 715px){
    .header .logotitle{
        display: none;
    }
    .title {
        min-height: 480px;
        width: 100%;
        display: inline;
        flex-direction: column;
        text-align: center;
        align-items: center;
        /* justify-content: space-evenly; */
    }
    .title p {
        font-size: 1.3em;
        width: 100%;
    }
}