@media only screen and (max-width: 768px){
    .header {
        display: flex;
        
    }
    .header .logotitle{
        display: none;
    }
    .title {
        min-width: 100%;
    }
    .title p {
        font-size: 1.3em;
        width: 100%;
    }
    .title .inactive {
        display: flex;
        width: 150px;
    }
    .title .inactive img {
        width: 180px;
    }
}
    /* aplicando cambios al nav desde 768 hasta 576 */
    @media only screen and (max-width: 576px){
        #logoyes {
                display: none;
            }
        
            #logo-nav {
                display: none;
            }
        nav .nav {
                display: flex;
                justify-content:space-around; 
                flex-direction: row;
                text-align: center;
            }
        
        .nav .logo-nav {
            display: flex;
            align-items:flex-start;
            margin-left: 10px;
            padding: 4px 10px;
        }
        .nav .logo-nav:hover{
            cursor: pointer;
            background: rgb(226, 226, 226);
            
        }
        .nav .name {
            margin-right: 12px;
        }
        .nav .list {
            
            display: block;
            position: absolute;
            top: 40px;
            background: rgb(178, 187, 211);
            
        }
        .nav-list {
            width: 100%;
            flex-direction: column;
        }
        .logo-closed{
        display: flex;
        align-items: flex-start;
        margin-left: 10px;
        padding: 4px 10px;
        }
        .logo-nav{
            display: flex;
            align-items: flex-start;
            margin-left: 10px;
            padding: 4px 10px;
        }   
        
}