/* 
576px para teléfonos móviles 
768px para las tabletas 
992px para portátiles 
1200px para los grandes dispositivos
*/
/* font-family: 'Comforter Brush', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Nova Mono', monospace;
font-family: 'Source Sans Pro', sans-serif;*/

:root {
    --blanco: #ffffff;
    --negro:#000000;
    --azulOscuro: #0C398C;
    --azulClaro:#4586FF ;
    --azulClaromas: #2564D9;
    --dorado:#8C6000;
    --amarillo:#D9A025;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    display: flexbox;
    flex-direction: column;
    background: #ffffff;
    margin: auto;
}

