/* 
576px para teléfonos móviles 
768px para las tabletas 
992px para portátiles 
1200px para los grandes dispositivos
*/


* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    display: flexbox;
    flex-direction: column;
    background: rgb(243, 241, 241);
    margin: auto;
}
.header {
    
    min-height: 480px;
    margin: auto;
    /* height: 100vh; */
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.title {
    min-height: 480px;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
}
.title h1 {
    font-size: 3em;
    font-weight: 500;
}
.title p {
    font-size: 1.3em;
    width: 70%;
    line-height: 120%;
    padding: 14px;
}
.logotitle {
    width: 30%;
    display: flex;
    min-height: 480px;
    align-items: center;
    justify-content: space-evenly;
}

.perfil {
    width: 250px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(179, 179, 179),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);;
    border-radius: 45%;
    -webkit-border-radius: 45%;
    -moz-border-radius: 45%;
    -ms-border-radius: 45%;
    -o-border-radius: 45%;
}
.active {
    display: flex;
}
.inactive {
    display: none;
}





/* estilos al nav */
.nav-project
.nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    text-align: center;
    /* padding: 10px 20px; */
    min-height: 40px;
    background: rgb(107, 106, 106);
}
.nav .list {
    display: block;
    align-self: center;
    width: 60%;
    
}
.nav .list .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-self: center;
}
.logo-nav{
    display: none;
    justify-content: flex-end;
}
li{
    display: flex;
    height: 60px;
    margin: auto;
    width: 100%;
    justify-content: center;  
}
li a:hover{
    background: rgb(226, 226, 226);
    /* cursor: pointer; */
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    color: black;
}
.nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .name {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    align-self: center;
    color: rgb(12, 12, 12);
    box-shadow: inset 3em 3em 3em rgba(58, 73, 141, 0.1), 0 0 0 0px rgb(0, 0,0,0.1),0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 90%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
    opacity: 0.6;
    margin-right: 20px;
    
}


/* estilos a about */
.centrArt{
    width: 70%;
    margin: auto;
    min-height: 400px;
    padding: 0px 4px;
}
.centrArt h2 {
    font-size: 1.8em;
    padding: 10px 0px;
}
.centrArt p {
    text-align: justify;
    font-size: 1.2em;
    line-height: 170%;
}






/* estilos del footer */
.t-foot {
    display: none;
}
#min-foot {
    display: none;
}
footer {
    height: 200px;
    width: 100%;
    background: rgb(158, 158, 155);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer {
    height: 200px;
    width: 80%;
    background: rgb(158, 158, 155);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer .info-footer {
    display: flex;
    flex-direction: column;
    /* background: rgb(172, 172, 172); */
    width: auto;
    height:70%;
    justify-content: space-around;
    align-items:flex-start;
    margin-left: 24px;
    color:black;
}
.info-footer .infoo {
    width: auto;
}
.info-footer a {
    text-decoration: none;
    color:black;
}


#name-footer {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.idea {
    font-size: 2em;
    font-weight: 100;
    opacity: 0.8;
}
.info-footer .enlaces {
    display: flex;
    flex-direction: row;
}
.int-footer {
    text-align: right;
}
.footer .gmail a:hover{
    color:rgba(0, 20, 73, 0.973);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.whatsapp a:hover{
    color:rgb(0, 48, 0);
    transition: 0.5s;
}
#redes {
    display: flex;
    flex-direction: row;
    width:30%;
    flex-wrap: wrap;
    align-items: center;
    
}
#intfoo {
    display: flex;
    width: 50%;
    justify-content: center;   
}

.github a:hover{
    color:rgb(83, 0, 83);
    transition: 0.5s;
} 
.linkedin a:hover{
    color:rgb(0, 37, 201);
    transition: 0.5s;
} 
.facebook a:hover{
    color:rgb(13, 16, 184);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.descarga a:hover{
    color:rgb(231, 12, 12);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    background:white;
}












/* estilos y animacion para el slider */
.cont-img {
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    overflow: hidden;
}
.cont-img .slider {
    display:flex;
    width: calc(200px * 10);
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
}

.img-slider {
    width: 300px;
}
.img-slider img {
    width: 100%;
}

@keyframes scroll{
    0% {
        -webkit-transform:translateX(0);
        transform:translateX(0);
    }
    100%{
        -webkit-transform:translateX(calc(-200px * 5));
        transform:translateX(calc(-200px * 5));
        -moz-transform:translateX(calc(-200px * 5));
        -ms-transform:translateX(calc(-200px * 5));
        -o-transform:translateX(calc(-200px * 5));
}
}
























